* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(226, 226, 226);
  color: rgb(41, 41, 41);
}
/* #root {
  display: flex;
  justify-content: center;
} */
ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#userInfo {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
  padding: 0 3rem;
}

h1 {
  text-align: center;
}

#userInfo li {
}

button {
  width: 7rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid gray;
  background-color: aliceblue;
  transition: 0.1s;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(217, 237, 255);
}
